@import "variables";
@import "grillas";
@import "tipografias";
@import"maps";
@import"extend";    
@import"mixin";

.menu-nav {
  list-style:none;
  display: flex;
  justify-content:space-between;
  }

  a{
    text-decoration: none;
  }
  

.parrafo{text-align: center;}
.direcciones{text-align: center;}
.formularios{text-align: right;
}
.piedepagina{
  background-color:#8AB6D6;
  }
#nw{
  padding:50px;;
}

a {
  color: black;
}
.logo{
  display: block;
  margin: 0px auto;
}
.logo {
  width: 950px;
  height: 300px;
  border: 5px solid black;
}
h1 {
  color: #FBE0C4;
  font-style: normal;
  font-family: "Courier New", Courier, monospace;
  font-size: 100px;
  text-align: center;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 100px;
  font-style: normal;
  color: #8AB6D6;
  text-align: center;
  font-size: 35px;
}
h3{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
h4{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
 
}
.ul{
  margin-inline-end: 4%;
  display: block;
  display: center;
}
.facebook{list-style: none;}
    .instagram{list-style: none;}
    .twitter{list-style: none;}


footer {
  text-align: center;
}
a.index {
  margin-inline-end: 4%;
}
a.productos {
  margin-inline-end: 4%;
}
a.nosotros {
  margin-inline-end: 4%;
}
a.contacto {
  margin-inline-end: 4%;
}

.camufladas {
  max-width: 100%;
  width: 200px;
  height: 200px;
}
.rositas {
  max-width: 100%;
  width: 200px;
  height: 200px;
}
.zaparoja{
  max-width: 100%;
  width: 200px;
  height: 200px;
}
.verde{
  max-width: 100%;
  width: 200px;
  height: 200px;
}


.rojas{
  max-width: 100%;
  width: 200px;
  height: 200px;
  
  
}


.negras{ 

  max-width: 100%;
  width: 200px;
  height: 200px;
  
}

.floreadas{
  max-width: 100%;
  width: 200px;
  height: 200px;
  
  
}



.mochilaestampa{
  max-width: 100%;
  width: 200px;
  height: 200px;
  margin: auto;
}
.mochilagris{
  max-width: 100%;
  width: 200px;
  height: 200px;

}


.piluso{
  max-width: 100%;
  width: 200px;
  height: 200px;


}

.australiana{
  max-width: 100%;
  width: 200px;
  height: 200px;

}




body {
  background-color: #0061A8;
  
}

.button {text-align:end;}
     
.carousel{
  width: 700px;
  height: 500px;
  margin: auto; 
  padding-bottom: 5px;
  

}




@media screen and (min-width:300px) and (max-width:400px) {
  .div-responsive{
    background-color: rgb(193, 29, 144);
    padding: 10px;
  }
}

@media screen and (min-width:400px) and (max-width:650px) {
  .div-responsive{
    background-color: rgb(193, 29, 144);
    padding: 10px;
  }
}
@media screen and (min-width:650px) and (max-width:800px) {
  .div-responsive{
    background-color: red;
    padding: 10px;
  }
}
@media screen and (min-width:800px) and (max-width:1200px) {
  .div-responsive{
    background-color: rgb(4, 255, 0);
    padding: 10px;
  }
}



  
.transformaciones{
  transform: scale(2,1);
  }
img:hover{transform: scale(1.2);}

.menu-nav li:hover{
  background-color: goldenrod;
  padding: (10px 20px);
}
.menu-nav li{
height: 30px;
transition: height 1s;
}
.menu-nav li:hover{
height: 30px;
}


@keyframes aparecer{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
h2{
animation-duration: 5s;
animation-name: aparecer;
animation-iteration-count:initial;
}




.bodyGrid{
display: grid;
grid-template-areas: 
"header header" 
"logo logo"
"footer footer";

}
header{ 
  grid-area: header;
  
}
.logo{
  grid-area: logo;
}

footer{
  grid-area: footer;
}



#galeria{
display: grid;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
text-align: center;
}
 



  
